body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background: linear-gradient(to right, #0090ff, #ff6f00);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  box-sizing: border-box;
}

header img {
  width: 100px;
  display: block;
}

header h1 {
  color: #0090ff;
  text-shadow: 2px 2px 5px white;
  font-size: 2.25rem;
  font-weight: 900;
}

.container {
  height: 100vh;
  text-align: center;
  padding-top: 0.5em;
}

.container > h2 {
  margin: 0;
}

.meme-form {
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}

.meme-form * {
  outline: none;
  border-radius: 1em;
}

.meme-form input {
  padding: 0.3em 0.7em;
  margin-right: 0.3em;
  text-align: center;
  background: linear-gradient(to left, #0090ff, white);
}

.meme-form button {
  /* display: block; */
  padding: 0.2em 0.5em;
  background: linear-gradient(to left, #ff6f00, white);
}

.meme {
  padding: 0 2em;
  position: relative;
  text-align: center;
  color: white;
  max-width: 50%;
  margin: auto;
}

.meme img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  margin: 0.2em;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 2px 2px 5px black;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header h1 {
    font-size: 1.625rem;
    color: black;
    text-shadow: 2px 2px 5px white;
    margin: 0;
  }
  header img {
    width: 50px;
    margin: 0 auto;
  }

  .meme-form {
    display: flex;
    flex-direction: column;
  }

  .meme-form input {
    margin-bottom: 0.1em;
  }

  .meme-form button {
    max-width: fit-content;
    margin: 0 auto;
  }

  .meme > h2 {
    font-size: 1.225rem;
  }

  .meme {
    max-width: 80%;
  }
}
